[submodule "telegram"]
	path = telegram
	url = https://github.com/it-cio/telegram
[submodule "weather"]
	path = weather
	url = https://github.com/it-cio/weather
[submodule "covid"]
	path = covid
	url = https://github.com/it-cio/covid
[submodule "asterisk"]
	path = asterisk
	url = https://github.com/it-cio/asterisk
[submodule "sql"]
	path = sql
	url = https://github.com/it-cio/sql
[submodule "phone"]
	path = phone
	url = https://github.com/ok-dagomys/phone
